/* Import Offline Fonts */
@import url("fonts.css");

/* Global Styles */
:root {
    --primary-color: #060f34;
    --secondary-color: #e99c31;
    --font-family: Inter, Open-Sans;
    --font-size: 16px;
    --line-height: 1.5;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: #333;
    background-color: #091135;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.overlap-group {
    /* align-items: flex-start; */
    background-color: #1f2847;
    border-radius: 20px;
    /* display: flex; */
    /* gap: 40px; */
    height: 100px;
    min-width: 1037px;
    padding: 20px 50px 60px 50px;
    /* position: absolute; */
}

.newsletter {
    color: #fff;
    /* font-family: var(--font-family); */
    font-size: 35px;
    /* font-weight: 600; */
    /* letter-spacing: 0; */
    line-height: 50px;
    /* width: 430px; */
    padding-left: 15px;
}

.overlap-group1 {
    /* align-self: flex-end; */
    height: 65px;
    /* margin-bottom: 1px; */
    position: absolute;
    /* width: 419px; */
    top: 30px;
    margin-left: 580px;
}

.updates {
    color: #acacac;
    /* font-family: var(--font-family); */
    font-size: 20px;
    /* font-weight: 400; */
    line-height: 24px;
    width: 420px;
    margin-bottom: 15px;
}

.email-address {
    color: #333;
    background: rgba(217, 217, 217, 0.60);
    /* background-size: 2px 2px; */
    border-radius: 10px 22px 22px 10px;
    font-family: var(--font-family);
    font-size: 14px;
    /* font-weight: 300; */
    width: 365px;
    height: 40px;
    line-height: 17px;
    border-color: transparent;
    padding-left: 25px;
}

.send-button {
    position: absolute; 
    right: 0; 
    top: 81px;
    bottom: 0;
    margin: auto;
    width: 60px; 
    height: 46px;
    border-radius: 0 50px 50px 0;
    background-color: #e99c31;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    left: 335px;
}

.send-button img {
    padding: 0px 10px 0px 0px;
    width: 35px;
    height: 25px;
}

.email-address::placeholder {
    color: #fff;
}

.email-address:focus {
    outline: none;
}
