
/* Import Offline Fonts */
@import url('fonts.css');

/* Global Styles */
:root {
  --primary-color: #060F34;
  --secondary-color: #E99C31;
  --font-family: Inter, Open-Sans;
  --font-size: 16px;
  --line-height: 1.5;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #333;
  background-color: #091135;
}

button, input[type="submit"] {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.frame-1 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  width: 1037px;
}

.overlap-group {
  align-items: flex-start;
  background-color: #1f2847;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  height: 200px;
  min-width: 1037px;
  padding: 58px 69px;
}

.newsletter {
  color: #fff;
  font-family: var(--font-family);
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: auto;
  width: 438px;
}

.overlap-group1 {
  align-self: flex-end;
  height: 79px;
  margin-bottom: 1px;
  position: relative;
  width: 419px;
}

.updates {
  color: #acacac;
  font-family: serif;
  font-size: medium;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 419px; 
}

.email-address {
  color: #fff;
  font-family: serif;
  font-size: small;
  font-weight: 300;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 228px;
}






/* Media Queries */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Styles for screens between 992px and 1200px wide */
  body {
    font-size: 18px;
  }

  /* Add more styles as needed */
}

@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide */
  body {
    font-size: 14px;
  }

  /* Add more styles as needed */
}
